#banner {
    margin: 15px;
    min-height: 40%;
}

#banner img {
    border-radius: 5px;
}

#banner img.show {
    height: 40%;
    width: 80%;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}

#banner img.hide {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}