html,
body {
    background: #2b2d33;
}

header {
    background: #1a1c20;
}

footer {
    background: #1a1c20;
    color: #c2c2c2;
}

footer nav {
    color: #c2c2c2;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

header a {
    color: #c2c2c2;
}

header a:hover {
    color: #ffffff;
}

#description {
    color: #8f9398;
}

#mark {
    background-color: #38a65d;
}

#willSee {
    background-color: #38a65d;
}

#content {
    min-height: calc(100vh - 80px);
    background: #40444d;
}

#content_header {
    margin: -1.5em -1.5em 0em -1.5em;
    background-color: #8f9297;
}

hr {
    height: 2px; /* Толщина линии */
}

TABLE {
    color: #8f9398;
}

.poster {
    width: 290px;
    height: 437px;
}

.icon {
    width: 50px; 
    height: 50px;
}

nav iframe {
    width: 860px;
    height: 515px;
}

@media screen and (min-width: 840px) {
    nav iframe {
        height: 515px !important;
    }
}

@media screen and (max-width: 840px) {
    .contentArticle {
        display: block !important;
    }
    .fs-4 {
        font-size: 1em !important;
    }
}