html,
body {
    background: #2b2d33;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

header {
    background: #1a1c20;
}

header a {
    color: #c2c2c2;
}

footer {
    flex: 0 0 auto !important;
    background: #1a1c20;
    color: #c2c2c2;
}

footer nav {
    color: #c2c2c2;
}

header a:hover {
    color: #ffffff;
}

hr {
    height: 2px; /* Толщина линии */
}

#description {
    color: #8f9398;
}

#mark {
    background-color: #38a65d;
}


#willSee {
    background-color: #38a65d;
}

#content {
    min-height: calc(100vh - 236px);
    background: #40444d;
}

#content_header {
    margin: -1.5em -1.5em 0em -1.5em !important;
    background-color: #8f9297;
}

.poster{
    width: 90px;
    height: 120px;
}

.icon {
    width: 50px; 
    height: 50px;
}